@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* { box-sizing: border-box; }

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Sen, sans-serif;
    letter-spacing: 2px;
    background: #c9ced3;
}

.container {
    width: 480px;
    height: 629px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

/* Form */
form {
    width: 90%; 
}

.form-group {
    height: 65px; 
}

.form-label {
    position: relative;
    bottom: 3px;
}

.form-input {
    width: 100%;
    height: 34px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    display: block;
    transition: all 0.3s;
    outline: none;
}

input {
    border: 1px solid black;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

button {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    height: 50px;
    width: 100%;
    font-family: Sen, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 5px;
}

button:hover {
    filter: brightness(120%);
}

button:focus {
    outline: none;
}

#message-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: black;
}